/* ----Global Styles---- */

body {
    
    font-family: Arial, sans-serif;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 9px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}
li {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 13px;
    overflow: hidden;
    display: inline-block;
    color: #000;
    opacity: 0.75;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #f2f2f2;
}

/*----HEADER----*/

#header-right{
    float: right;
}

.menu-icon {
        height: auto;
        width: 1.5rem;
        padding-right: 1rem;
        margin: -.25rem;
}

.signin {
        color: white;
        background-color: #4584ef;
        border-radius: 2px;
        border-style: none;
        font-weight: bold;
        padding: 0.475rem 0.8rem;
        margin: 0.15rem;
        font-size: 0.8rem;
}

*{
    outline:0px;
}

/*----MAIN----*/

main {
    text-align: center;
    margin-top: 10rem;;
}

/* IMAGE */

.logo {
    padding: 0.75rem;
    margin: 0;
    width: 18rem;
}

/*----FORM----*/

.search-form {
    width: 45%;
    border-style: solid;
    border-radius: 100px;
    border-color: #DFE1E5;
    border-width: 1px;
    padding: 0.6rem 0.85rem 0.6rem 2.8rem;
    margin: 0;
    font-size: 0.95rem;
    line-height: 1.5rem;
    font-family: Arial, sans-serif;
}

.search-form:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.search-button {
        background-color: #f4f4f4;
        color: #5f6368;
        border-radius: 3px;
        border-style: none;
        padding: 0.6rem 0.9rem;
        margin: 1.5rem 0.25rem;
}

.search-button:hover {
    color: #222222;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(188, 190, 192);
    box-shadow: 0 3px 2px -3px rgb(168, 168, 168);    
}

/* -----FOOTER----- */

#footer-right {
    float: right;
}